In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
data = pd.read_csv("/content/50_Startups.csv")

In [29]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
country = data.iloc[:,3:4].values
country[:,0] = le.fit_transform(data.iloc[:,3:4])

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [31]:
ohe = preprocessing.OneHotEncoder()
country = ohe.fit_transform(country).toarray()

In [32]:
sonuc = pd.DataFrame(data=country, index=range(50), columns=['CA','FL','NY'])

In [33]:
latestdata = pd.concat([sonuc,data.iloc[:,0:3]],axis = 1)

In [34]:
latestdata = pd.concat([latestdata,data.iloc[:,-1]],axis = 1)

In [35]:
from sklearn.model_selection import train_test_split

In [38]:
latestdata.describe()

              CA         FL  ...  Marketing Spend         Profit
count  50.000000  50.000000  ...        50.000000      50.000000
mean    0.340000   0.320000  ...    211025.097800  112012.639200
std     0.478518   0.471212  ...    122290.310726   40306.180338
min     0.000000   0.000000  ...         0.000000   14681.400000
25%     0.000000   0.000000  ...    129300.132500   90138.902500
50%     0.000000   0.000000  ...    212716.240000  107978.190000
75%     1.000000   1.000000  ...    299469.085000  139765.977500
max     1.000000   1.000000  ...    471784.100000  192261.830000

[8 rows x 7 columns]

In [41]:
x_train, x_test, y_train, y_test = train_test_split(latestdata.iloc[:,:-1],latestdata.iloc[:,-1:],random_state=0)

In [43]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)
y_pred = regressor.predict(x_test)

In [44]:
from sklearn.metrics import r2_score
score = r2_score(y_test , y_pred)
print(score)

0.9315815199151978